body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav {
    background-color: #474e5d;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    color: #ccc;
    text-decoration: underline;
}

.logo{
    color: white;
    margin-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 0 0 calc(45% - 20px); 
    margin: 10px; 
}

.card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0 10px;
    text-align: center;
}

.about-section {
    padding: 20px;
    margin-top: -20px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 25px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 60%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

