<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <title>About Us</title>

</head>

<body>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        </ul>
        <div class="logo">
            <p>Gas Pipeline Monitoring</p>
        </div>
    </nav>
    <div class="about-section">
        <h1>Gas Pipeline Monitoring</h1>
        <p>Real time gas pipeline monitoring leveraging IoT technology.</p>
    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/static/mohit.jpg" alt="Mohit" style="width:100%">
                <div class="container">
                    <h2>Mohit Singh</h2>
                    <p class="title">Team Leader and Lead Researcher</p>
                    <p>Bachelor of Engineering</p>
                    <p>Computer Science Engineering (IoT)</p>
                    <p>mohit.22gosain@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/static/rutendta.jpg" alt="Rutendra" style="width:100%">
                <div class="container">
                    <h2>Rutendra Mahato</h2>
                    <p class="title">Web Developer</p>
                    <p>Bachelor of Engineering</p>
                    <p>Computer Science Engineering (IoT)</p>
                    <p>rutendramahato74@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/static/piyush.jpg" alt="Piyush" style="width:100%">
                <div class="container">
                    <h2>Piyush Kumar</h2>
                    <p class="title">Hardware Engineer(IoT)</p>
                    <p>Bachelor of Engineering</p>
                    <p>Computer Science Engineering (IoT)</p>
                    <p>mailpiyush02@yahoo.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/static/manish.jpg" alt="Manish" style="width:100%">
                <div class="container">
                    <h2>Manish Singh</h2>
                    <p class="title">Cloud Engineer</p>
                    <p>Bachelor of Engineering</p>
                    <p>Computer Science Engineering (IoT)</p>
                    <p>manikdhapola@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>